@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

*
{
    
    margin: 0px;
    padding: 0px;

}


body
{
  background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    

    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header
{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 300%;
}

hr {
  width: 100%; 
  margin: 0;

}

a
{
    text-decoration: none;
    color: white;
}

nav.a{
  color: white;
}



main
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    
}

footer
{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}



li, ul
{
  display: inline;
  text-decoration: none;
  color: black;
  font-weight: bold;
}








section{

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2%;
}

section figure {
  flex-basis: 30%;
}

section figure img
{ 
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    height: fit-content;
}

img{
  width: 100%;
}




section figureh {
  max-width: 1000px;
}

section figureh img
{ 
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    height: fit-content;
}










iframe{
  padding-bottom: 20px;
  padding-top: 20px;
}

video
{
    width: 100%; 
}

audio
{
    height: 10x;
    align-items: center;
}







h1
{
    font-size: 170%;
    display: inline;
    position:sticky;
    top: 0px;
    left: 0px;
}

h3
{
    margin-top: 10px;
    font-size: 120%;
    display: inline;
    top: 0px;
    left: 0px;
}







th, td 
{
  text-align: center;
}

figcaption {
  margin-bottom: 10px;
  margin-top: 10px;
}









.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.gallery-item {
  
  text-decoration: none;
}

.gallery-item img {
  width: 550px;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}









@media only screen and (max-width: 900px) 
{
  body 
  {
    align-content: center;
  }

  nav {
    text-align: center;
  }


  section figure {
    flex-basis: 48%;
  }
}

@media only screen and (max-width: 600px) 
{
  body 
  {
    background-color: black;
    align-content: center;
  }

  nav {
    text-align: center;
  }


  section figure {
    flex-basis: 100%;
  }
}