@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

*
{
    background-color: white;
    margin: 0px;
    padding: 0px;
}


body
{
    color: black;
    margin: 20px;

    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header
{
    margin-bottom: 10px;
    text-decoration: none;
}



a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
}

a:hover
{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
}



main
{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer
{
    margin-bottom: 10px;
}

/*
audio
{
    color: white;
    background-color: black;
    border-radius: 0;
    box-align: center;
}
*/

ul
{
    margin:10px;
    margin-left: 40px;
}